
.gallery{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gallery h1{
   
    font-family: Open ;
font-size: 32px;
font-weight: 900;
line-height: 26px;
text-align: left;

}
.gallery img{
    width:120px;
    height: 50px;
   
}
.condiv{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: space-between;
   
}
.bridge img{
    width: 600px;
    height: 446px;
    object-fit: cover;
    border-radius: 10px;
}
.condiv{
    /* border: 1px solid black; */
}
.road img{
    width: 285px;
    height: 210px;
    object-fit: cover;
    border-radius: 10px;
}
.road{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.conimg img{
    width: 285px;
    height: 446px;
    object-fit: cover;
    border-radius: 10px;
}