.container{
    width: 1200px;
    margin: 0 auto;

}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:170px;
    padding: 20px 250px ;
}
.image img{
    width: 133px;
    height: 130px;
}
.header{
    display: flex;
    align-items: center;
    width:518px;
    height: 27px;
    gap: 40px;
}
.header h1{
    font-size: 22px;
}
.head-but{
    display: flex;
    align-items: center;
    width:324px;
    height:47px;
    gap: 40px;
}
.head-but select{
    width:59px;
    height: 27px;
    gap: 4px;
    border: none;    
}
.head-but button{
    width:168px;
    height: 47px;
    padding: 10px 24px ;
    gap: 10px;
    border-radius: 50px;
    background-color: #FA8B02;
    border: none;
    color: white;
}